
<select  ng-change="changeColor()" ng-model="myColor" ng-options="color.text for color in colors"></select>

<select ng-model="myColor" ng-options="color.text group by color.type for color in colors"></select>

<span ng-class="myColor.class">Some text</span>

<br><br>
<input type="text" ng-model="input">Text</input>

<p>
<table class="table table-striped">
    <tr>
        <th>Text</th>
        <th>Class</th>
        <th>Type</th>
    </tr>

    <tr ng-repeat="color in colors | orderBy:'text'">
        <td>
            {{color.text}}
        </td>
        <td>
            {{color.class}}
        </td>
        <td>
            {{color.type}}
        </td>
    </tr>
</table>
</p>

<br><br>
<table class="table table-striped">
    <tr ng-repeat="color in colors | filter : input">
        <td>{{color.text}}</td>
    </tr>

</table>